{{#if resume.awards.length}}
  <section id="awards">
    <h3>Awards</h3>
    <div class="stack">
      {{#each resume.awards}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{title}}</h4>
              {{#date}}
                <time datetime="{{.}}">{{formatDate .}}</time>
              {{/date}}
            </div>
            {{#awarder}}
              <span>
                Awarded by <strong>{{.}}</strong>
              </span>
            {{/awarder}}
          </header>
          {{#summary}}
            {{{markdown .}}}
          {{/summary}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
