<section id="contact">
  <h3>Contact</h3>
  <div class="grid-list">
    {{#email}}
      <div>
        <h4>Email</h4>
        <a href="mailto:{{.}}">{{.}}</a>
      </div>
    {{/email}}
    {{#phone}}
      <div>
        <h4>Phone</h4>
        {{.}}
      </div>
    {{/phone}}
    {{#url}}
      <div>
        <h4>Website</h4>
        <a href="{{.}}">{{formatURL .}}</a>
      </div>
    {{/url}}
  </div>
</section>
