{{#if resume.education.length}}
  <section id="education">
    <h3>Education</h3>
    <div class="stack">
      {{#each resume.education}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{institution}}</h4>
              <span>
                <time datetime="{{startDate}}">{{formatDate startDate}}</time> –
                {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{else}}Present{{/if}}
              </span>
            </div>
            <div class="spaced-list">
              {{#area}}
                <strong>{{.}}</strong>
              {{/area}}
              {{#url}}
                <a href="{{.}}">{{formatURL .}}</a>
              {{/url}}
            </div>
          </header>
          {{#studyType}}
            {{{markdown .}}}
          {{/studyType}}
          {{#if courses.length}}
            <h5>Courses</h5>
            <ul>
              {{#courses}}
                <li>{{.}}</li>
              {{/courses}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
