{{#if resume.education.length}}
  <section id="education">
    <h3>Education</h3>
    <div class="stack">
      {{#each resume.education}}
        <article>
          <header>
            <h4>{{> link name=institution}}</h4>
            <div class="meta">
              {{#area}}
                <strong>{{.}}</strong>
              {{/area}}
              <div>
                <time datetime="{{startDate}}">{{formatDate startDate}}</time> –
                {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{else}}Present{{/if}}
              </div>
            </div>
          </header>
          {{#studyType}}
            {{{markdown .}}}
          {{/studyType}}
          {{#if courses.length}}
            <h5>Courses</h5>
            <ul>
              {{#courses}}
                <li>{{{markdown .}}}</li>
              {{/courses}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
