{{#if profiles.length}}
  <section id="profiles">
    <h3>Profiles</h3>
    <div class="grid-list">
      {{#profiles}}
        <div>
          {{#network}}
            <h4>{{.}}</h4>
          {{/network}}
          {{#if username}}
            {{#if url}}
              <a href="{{url}}">{{username}}</a>
            {{else}}
              {{username}}
            {{/if}}
          {{else}}
            {{#if url}}
              <a href="{{url}}">{{url}}</a>
            {{/if}}
          {{/if}}
        </div>
      {{/profiles}}
    </div>
  </section>
{{/if}}
