{{#if resume.projects.length}}
  <section id="projects">
    <h3>Projects</h3>
    <div class="stack">
      {{#each resume.projects}}
        <article>
          <header>
            <div class="spaced-list">
              <h4>{{name}}</h4>
              <span>
                <time datetime="{{startDate}}">{{formatDate startDate}}</time> –
                {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{else}}Present{{/if}}
              </span>
            </div>
            <div class="spaced-list">
              <span>
                {{#if roles}}
                  <strong>{{join roles}}</strong>
                {{/if}}
                {{#entity}}
                  at <strong>{{.}}</strong>
                {{/entity}}
              </span>
              {{#url}}
                <a href="{{.}}">{{formatURL .}}</a>
              {{/url}}
            </div>
          </header>
          {{#description}}
            {{{markdown .}}}
          {{/description}}
          {{#if highlights.length}}
            <h5>Highlights</h5>
            <ul>
              {{#highlights}}
                <li>{{.}}</li>
              {{/highlights}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
