{{#if resume.volunteer.length}}
  <section id="volunteer">
    <h3>Volunteer</h3>
    <div class="stack">
      {{#each resume.volunteer}}
        <article>
          <header>
            <h4>{{position}}</h4>
            <div class="meta">
              <strong>{{> link name=organization}}</strong>
              <div>
                <time datetime="{{startDate}}">{{formatDate startDate}}</time> –
                {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{else}}Present{{/if}}
              </div>
            </div>
          </header>
          {{#summary}}
            {{{markdown .}}}
          {{/summary}}
          {{#if highlights.length}}
            <ul>
              {{#highlights}}
                <li>{{{markdown .}}}</li>
              {{/highlights}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
