{{#if resume.work.length}}
  <section id="work">
    <h3>Work</h3>
    <div class="stack">
      {{#each resume.work}}
        <article>
          <header>
            <h4>{{position}}</h4>
            <div class="meta">
              <div>
                <strong>{{> link}}</strong>
                {{#description}}
                  <span class="bullet-item">{{.}}</span>
                {{/description}}
              </div>
              <div>
                <time datetime="{{startDate}}">{{formatDate startDate}}</time> –
                {{#if endDate}}<time datetime="{{endDate}}">{{formatDate endDate}}</time>{{else}}Present{{/if}}
              </div>
              {{#location}}
                <div>{{.}}</div>
              {{/location}}
            </div>
          </header>
          {{#summary}}
            {{{markdown .}}}
          {{/summary}}
          {{#if highlights.length}}
            <ul>
              {{#highlights}}
                <li>{{{markdown .}}}</li>
              {{/highlights}}
            </ul>
          {{/if}}
        </article>
      {{/each}}
    </div>
  </section>
{{/if}}
